<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ditzler.cole.stableapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".StockManiaActivity"
            android:label="Investments">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".PrimeClock">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>


        <activity android:name=".AdobrasigianPrimeClock">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>


        <activity android:name=".CounterTiles"
            >
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".FontTile">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".Stereoscope"
            >
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".StereoscopePendulum">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".AnalogSixtyClock">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".AnimationPractice">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".NumbersPractice">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".RotationPractice">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>


        <activity android:name=".StockManiaActivityGraphs">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>


        <activity android:name=".StockManiaActivityWithTime">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".StockManiaActivityAutoplayer">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".StockManiaActivityPowerfulAutoplayer">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".StockManiaActivityPowerfulAutoplayerVersionTwo">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".CalculatorRedHerring">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".HappySixties">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".NarcSixties">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".CalculatorBlueHerring">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>


        <activity android:name=".DiceGame">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".MusicSoup">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".Cprac">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".BalanceCalculator">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".protomon"
            android:windowSoftInputMode="adjustNothing"
            android:label="Monster Collector">

            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".protomons"
            android:label="Monster Collector">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".GarlitosLab"
            android:label="Laboratory"
            android:noHistory="false">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>


        <activity android:name=".CustomMonsterTopLayer"
            android:label="Monster Customizer"
            android:noHistory="false">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>


        <activity android:name=".StatAdjustments"
            android:label="Monster Stat Adjuster"
            android:noHistory="false">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>


        <activity android:name=".HareSplitting"
            android:label="Hare Splitting Lab">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".RabbitHutch"
            android:label="Hare Housing">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>


        <activity android:name=".RabbitHutchBranch">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".gumbler"
            android:label="Gambling">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".ShortPractice">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".LongPractice">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".AOC">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".SpriteAdjustments">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>


        <activity android:name=".PopulationDynamics"
            android:label="Population Dynamics">
            <intent-filter android:order="1">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="Cole.Ditzler"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".GarlitosNotes" />
        <activity android:name=".TeamSwap"/>
        <activity android:name=".StorageSwap" />
        <activity android:name=".GarlitosMoveNotes" />
        <activity android:name=".Displayall" />


    </application>

</manifest>